* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles */

body {
    background-image: url("https://media.istockphoto.com/id/1341348395/photo/old-dark-brown-wooden-board.jpg?s=1024x1024&w=is&k=20&c=QNyV9qwjNTwpOWbDKQx9Dr-uYgEJrmBR2TU6sSUPJh8=");
    background-size: cover;
    background-position: center;
}

.wrapper {
    background-color: burlywood;
    border-radius: 15px;
    padding: 1%;
    height: 80%;
    width: 70%;
    margin: 5% auto;
}

header button {
    padding: 8px 24px;
    border-radius: 50px;
    background-color: brown;
    color: white;
    font-weight: 700;
}

div.card {
    background-color: bisque;
    border: 1px solid brown;
    border-radius: 15px;
    padding: 1%;
}

ul {
    list-style: none;
}

header {
    margin: 1%;
}

button, a, div.project-folder > h4 {
    cursor: pointer;
}

.content-info {
    margin: 8px auto;
}

/* Layout */

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 16px;
}

div.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    overflow: auto;
}

div.card {
    flex: 1;
}

ul.card-edit {
    justify-content: right;
}